<div class="container declined-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("declined.jpg") %>);">
  <div class="row" >
  	<h3 id="showTripsTitle" style="color:white">That's sad..</h3>
    	<div class="col-sm-12 col-md-4">
    	</div>
  	</div>
</div>
