<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="center-vertical">
        <h1>JUST YOU AND YOUR HAND TONIGHT</h1>
        <h1>=P</h1>
      </div>
    </div>
  </div>
</div>
