.center-vertical{
  text-align: center;
  margin-top: 194px;
}

.declined-pic {
  height: calc(100vh - 70px);
  background-size: cover !important;
  background-repeat: no-repeat;
  border-radius: 2px;
  background-position: center; 
}

