<!-- _card.html.erb -->

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= trip.picture %>);">
  <div class="card-category">Group Leader</div>
  <div class="card-description">
    <h2><%= trip.name %></h2>
  </div>
</div>
