  <div class="container-fluid">
    <div class = "row">
      <div class="col-xs-12">
        <div class = "homepage-grid" >
          <div class = "home-login-btn">
            <button type="button" class="btn btn-light">Login</button>

        <h1>WeGo2gether</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<p>Find me in app/views/pages/home.html.erb</p>
