<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-4">
        	<div class="home-content">
        		<h3>WeGo2gether</h3>
        		<%= link_to "Create a group trip", new_trip_path, class: "btn btn-primary btn-lg"  %>
        	</div>
		</div>
	</div>
</div>
