
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-4">
        	<div class="home-content">
        		<h3>Home Page</h3>
        		<p><%= link_to "Create a group trip", new_trip_path  %></p>
        	</div>
		</div>
	</div>
</div>
